header{
    font-family: Atma;
    font-size: 70px;
    text-align:  center;
}
#footer {
    position: relative;
    left: 0;
    /* bottom: -650px; */
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
 